.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  // add more padding because of the floated, x-translated circle
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    // shape-outside only works when it has a height, width and floats
    float: left;
    // 50% radius of the surrounding element: 7.5rem
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // floating elements should need be positioned with margin/padding
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
    transform: translateX(-15%);
  }

  &__text {
    transform: skewX(12deg);
  }
}
